:root {
    --black: #212121;
    --white: #FFFFFF; 
    --fondo: #E5E5E5; 
    --skyblue: #2196F3; 
    --button: #F5F4FA;
    --footer: #2F303A;
    --texto: #757575;
    --final-links: rgba(255, 255, 255, 0.6);
}
body {
    font-family: 'Roboto', sans-serif;
    background: var(--fondo);
}
.link {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: var(--black);
    text-decoration: none;
}
.contact-information {
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    color: var(--white);
}
.menu:hover {
    color: var(--skyblue);
    cursor: pointer;
}
.menu {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    background: var(--button);
}
.contact-information {
    background: var(--footer);
}
.title-principal {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    color: var(--white);
}
.title-portfolio-1 {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
}
.text2 {
    font-size: 16px;
    color: var(--texto);
}
.contact1:hover {
    color: var(--skyblue);
}
.contact1 {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: var(--texto);
}
.contact2:hover {
    color: var(--skyblue);
}
.contact2 {
    font-size: 14px;
    color: var(--final-links);
}
.link:hover {
    color: var(--skyblue);
}
.logo {
    font-family: 'Ralewey';
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    color: var(--skyblue);
    text-decoration: none;
}
.name {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}
.text {
    font-size: 14px;
    line-height: 1.71;
    color: var(--texto);
}
.title-principal-1 {
    font-weight: 700;
    font-size: 36px;
    line-height: 2.625;
}
.title-principal-2 {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
}
#bg {
    background: var(--footer);
}
#button-banner {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    color: var(--white);
    background: var(--skyblue);
} 
#social-networks {
    font-weight: 700;
    line-height: 16px;
}